<nav>
    
    <ul>
        <li> 
            <a href="/home"> {{ "header.home" | translate }} </a> 
        </li>
        <li> 
            <a href="/home"> {{ "header.about" | translate }} </a> 
        </li>
        <li> 
            <a href="/home"> {{ "header.contact" | translate }} </a> 
        </li>
        <li> 
            <a href="/home"> {{ "header.other" | translate }} </a> 
        </li>
        <li> 
            <a href="/home"> {{ "header.login" | translate }} </a> 
        </li>
        
    </ul>

</nav>
